.u-block-4914-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-4914-5 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  top: 440px;
  right: auto;
}

.u-block-4914-6 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  top: 322px;
  right: calc(((100% - 1140px) / 2)  + -52px);
}

@media (max-width: 1199px) {
  .u-block-4914-6 {
    right: calc(((100% - 940px) / 2)  + -43px);
  }
}

@media (max-width: 991px) {
  .u-block-4914-6 {
    right: calc(((100% - 720px) / 2)  + -33px);
  }
}

@media (max-width: 767px) {
  .u-block-4914-6 {
    right: calc(((100% - 540px) / 2)  + -25px);
  }
}

@media (max-width: 575px) {
  .u-block-4914-6 {
    right: calc(((100% - 340px) / 2)  + -16px);
  }
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/INFORMATICA-BANNER-MOBILE.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 251px -12px 60px auto;
}

@media (max-width: 991px) {
  .u-section-1-1 .u-text-1 {
    margin-left: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/3.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1-2 .u-text-1 {
  font-size: 4.5rem;
  margin: 330px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1-2 .u-text-1 {
    margin-left: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/electronica.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1-3 .u-text-1 {
  font-size: 4.5rem;
  margin: 330px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-text-1 {
    margin-left: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 342px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: -78px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 449px;
}

.u-section-2 .u-container-layout-1 {
  padding: 9px 28px;
}

.u-section-2 .u-icon-1 {
  height: 85px;
  width: 85px;
  margin: 0 105px 0 auto;
  padding: 8px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 33px 1px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 21px 1px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 9px 28px;
}

.u-section-2 .u-icon-2 {
  height: 85px;
  width: 85px;
  margin: 0 105px 0 auto;
  padding: 8px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 33px 1px 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 21px 1px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 9px 28px;
}

.u-section-2 .u-icon-3 {
  height: 85px;
  width: 85px;
  margin: 0 105px 0 auto;
  padding: 8px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 33px 1px 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 21px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 315px;
  }

  .u-section-2 .u-icon-1 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 472px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 17px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 405px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 99px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 16px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 405px;
  background-image: url("images/20220707_122337.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 327px;
  }

  .u-section-3 .u-image-1 {
    min-height: 327px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 85px;
  }

  .u-section-3 .u-image-1 {
    min-height: 250px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 375px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    min-height: 236px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 290px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 41px 60px 0;
}

.u-section-4 .u-btn-1 {
  margin: 20px auto 41px 478px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 278px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-btn-1 {
    margin-left: 58px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 252px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 50px 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 140px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: -171px auto 132px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 227px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 115px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-top: 110px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-top: 113px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 657px;
}

.u-section-6 .u-group-1 {
  width: 189px;
  min-height: 189px;
  margin: 78px auto 0 327px;
}

.u-section-6 .u-container-layout-1 {
  padding: 17px 0;
}

.u-section-6 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 17px auto 0;
}

.u-section-6 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 19px 0 0 7px;
}

.u-section-6 .u-group-2 {
  min-height: 189px;
  width: 189px;
  margin: -189px 419px 0 auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 17px 0;
}

.u-section-6 .u-icon-2 {
  width: 64px;
  height: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 17px auto 0;
  padding: 6px;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 26px 10px 0 19px;
}

.u-section-6 .u-group-3 {
  min-height: 197px;
  width: 189px;
  margin: -189px 212px 0 auto;
}

.u-section-6 .u-container-layout-3 {
  padding: 0;
}

.u-section-6 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 47px auto 0;
  padding: 6px;
}

.u-section-6 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 24px 4px 0;
}

.u-section-6 .u-shape-1 {
  width: 261px;
  height: 228px;
  margin: -116px auto 0 0;
}

.u-section-6 .u-text-4 {
  margin: -134px auto 0 40px;
}

.u-section-6 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: -172px auto 0 113px;
}

.u-section-6 .u-group-4 {
  min-height: 195px;
  width: 184px;
  margin: 62px 424px 0 auto;
}

.u-section-6 .u-container-layout-4 {
  padding: 4px 0;
}

.u-section-6 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 33px auto 0;
  padding: 6px;
}

.u-section-6 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 5px 0 0 8px;
}

.u-section-6 .u-group-5 {
  min-height: 193px;
  width: 193px;
  margin: -196px auto 0 323px;
}

.u-section-6 .u-container-layout-5 {
  padding: 17px 0;
}

.u-section-6 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 33px auto 0;
  padding: 6px;
}

.u-section-6 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 8px 4px 0;
}

.u-section-6 .u-group-6 {
  min-height: 200px;
  width: 189px;
  margin: -193px 212px 0 auto;
}

.u-section-6 .u-container-layout-6 {
  padding: 13px 0 17px;
}

.u-section-6 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: 13px auto 0 60px;
  padding: 6px;
}

.u-section-6 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 700;
  width: 145px;
  margin: -8px auto 0;
}

.u-section-6 .u-group-7 {
  min-height: 197px;
  width: 166px;
  margin: -438px 0 0 auto;
}

.u-section-6 .u-container-layout-7 {
  padding: 17px 0;
}

.u-section-6 .u-icon-8 {
  width: 64px;
  height: 64px;
  margin: 16px 60px 0 auto;
  padding: 6px;
}

.u-section-6 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 33px 0 0 8px;
}

.u-section-6 .u-btn-1 {
  margin: 288px auto 0;
}

.u-section-6 .u-group-8 {
  min-height: 209px;
  width: 184px;
  margin: -292px 0 0 auto;
}

.u-section-6 .u-container-layout-8 {
  padding: 4px 0;
}

.u-section-6 .u-icon-9 {
  width: 64px;
  height: 64px;
  margin: 33px auto 0;
  padding: 6px;
}

.u-section-6 .u-text-9 {
  font-size: 1.875rem;
  font-weight: 700;
  width: 137px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-icon-3 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-6 .u-icon-5 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-6 .u-icon-6 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-6 .u-icon-7 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-6 .u-icon-8 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-6 .u-icon-9 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-6 .u-text-9 {
    margin-left: 4px;
    margin-right: 4px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-2 {
    margin-right: 351px;
  }

  .u-section-6 .u-group-4 {
    margin-right: 356px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    margin-left: 151px;
  }

  .u-section-6 .u-group-2 {
    margin-right: 151px;
  }

  .u-section-6 .u-group-3 {
    margin-right: 151px;
  }

  .u-section-6 .u-group-4 {
    margin-right: 156px;
  }

  .u-section-6 .u-group-5 {
    margin-left: 147px;
  }

  .u-section-6 .u-group-6 {
    margin-right: 151px;
  }
}